@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<div class="menu-container">
    <a href="/Home/Flashcards" class="menu-button">FLASHCARDS</a>
    <a href="/Home/Applex" class="menu-button">APPLEX</a>
    <a href="/Home/Lagar" class="menu-button">LAGAR</a>
    <a href="/Home/Kontakt" class="menu-button">KONTAKT</a>
</div>
