<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DinApp</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        SKYDDSVAKTEN
    </header>
    <main role="main" class="main-content">
        @RenderBody() <!-- Renderar innehållet i varje vy -->
    </main>

    @RenderSection("Scripts", required: false) <!-- Renderar skriptssektionen -->
</body>
</html>
